node_modules
.next
out
coverage
*.log
*.tsbuildinfo
apps/web/src/generated/prisma
.env
.env.local
.DS_Store
playwright-report
test-results
.env.*
!.env.example
apps/web/.env.local
apps/admin/.env.local
apps/**/.env.*
!apps/**/.env.example
.vercel
